#header { background: #f03030; }
#nav .header { color: #ffffff; font-weight: bold; }
#nav .item { color: #ffffff; font-weight: bold; }
#nav i { color: #ffffff; font-weight: bold; }
#nav input::-webkit-input-placeholder { color: #ffffff; font-weight: bold; }
#nav input::-moz-placeholder { color: #ffffff; font-weight: bold; }
#nav input::-ms-input-placeholder { color: #ffffff; font-weight: bold; }

.pt-img-input { display: none; }
.pt-img-preview { cursor: pointer; clear: both; }

.pt-full-width { width: 100% }
.pt-text-center { text-align: center }
.pt-full-height { height: 100% }

.pt-valign-wrapper { display: table; height: 100%; width: 100%; }
.pt-valign { display: table-cell; vertical-align: middle; }

h1.ui.header { font-size: 3.5rem; }
h2.ui.header { font-size: 1.75rem; }
h3.ui.header { font-size: 2rem }
h4.ui.header { font-size: 1.5rem }
h5.ui.header { font-size: 1.25rem }

#main-container { margin: 0 }

#footer { background: #404040; padding: 3rem 0; }
#footer a { color: #e0e0e0 }
#footer h4 { color: #f0f0f0 }

.slick-slider { margin-bottom: 0 }
