{{define "footer"}}

<footer id="footer" class="ui page grid">
        <div class="four wide column">
                <h4 class="ui header">Who We Are</h4>
                <div class="ui list">
                        <a class="item">About BBH OI</a>
                        <a class="item">Our Team</a>
                        <a class="item">BBH Singapore</a>
                        <a class="item">BBH Lab</a>
                </div>
        </div>
        <div class="four wide column">
                <h4 class="ui header">Get In Touch</h4>
                <div class="ui list">
                        <a class="item">Contact Us</a>
                        <a class="item">Press</a>
                </div>
        </div>
        <div class="four wide column">
                <h4 class="ui header">Help</h4>
                <div class="ui list">
                        <a class="item">How It Works</a>
                        <a class="item">FAQ</a>
                        <a class="item">Terms and Conditions</a>
                        <a class="item">Privacy Policy</a>
                </div>
        </div>
        <div class="four wide column">
                <h4 class="ui header">BBH Digital Digest</h4>
        </div>
</footer>

</body>
</html>

{{end}}
