{{define "footer"}}

	<footer id="footer" class="page-footer red white-text">
		<div class="container">
			<div class="row">
				<div class="col s3">
					<h4>Who We Are</h4>
					<ul>
						<li><a href="#" class="white-text">About BBH OI</a></li>
						<li><a href="#" class="white-text">Our Team</a></li>
						<li><a href="#" class="white-text">BBH Singapore</a></li>
						<li><a href="#" class="white-text">BBH Lab</a></li>
					</ul>
				</div>
				<div class="col s3">
					<h4>Get In Touch</h4>
					<ul>
						<li><a href="#" class="white-text">Contact Us</a></li>
						<li><a href="#" class="white-text">Press</a></li>
					</ul>
				</div>
				<div class="col s3">
					<h4>Help</h4>
					<ul>
						<li><a href="#" class="white-text">How It Works</a></li>
						<li><a href="#" class="white-text">FAQ</a></li>
						<li><a href="#" class="white-text">Terms and Conditions</a></li>
						<li><a href="#" class="white-text">Privacy Policy</a></li>
					</ul>
				</div>
				<div class="col s3">
					<h4>BBH Digital Digest</h4>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				&copy; Copyright 2015 Bartle Bogle Hegarty Asia Pacific
			</div>
		</div>
	</footer><!-- #footer -->

	{{template "pt-foot" .}}
</body>
</html>

{{end}}
