{{define "footer"}}

	<footer id="footer">
		<div class="ui page grid">
			<div class="four wide column">
				<h4 class="ui header">Who We Are</h4>
				<div class="ui list">
					<a class="item" href="#">About BBH OI</a>
					<a class="item" href="#">Our Team</a>
					<a class="item" href="#">BBH Singapore</a>
					<a class="item" href="#">BBH Lab</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui header">Get In Touch</h4>
				<div class="ui list">
					<a class="item" href="#">Contact Us</a>
					<a class="item" href="#">Press</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui header">Help</h4>
				<div class="ui list">
					<a class="item" href="#">How It Works</a>
					<a class="item" href="#">FAQ</a>
					<a class="item" href="#">Terms and Conditions</a>
					<a class="item" href="#">Privacy Policy</a>
				</div>
			</div>
			<div class="four wide column">
				<h4 class="ui header">BBH Digital Digest</h4>
			</div>
		</div>
	</footer><!-- #footer -->

	{{template "pt-foot" .}}
</body>
</html>

{{end}}
