{{define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" media="screen,projection"/>

{{template "pt-head" .}}
{{range .Includes}}
        {{.}}
{{end}}

</head>

{{if not .IsLoggedIn}}
	{{template "modal-sign-in" .}}<!-- #modal-sign-in -->
	{{template "modal-sign-up" .}}<!-- #modal-sign-up -->
{{end}}

<nav id="nav" class="red row">
	<div class="nav-wrapper">
		<a href="#" class="button-collapse" data-activates="sidebar"><i class="mdi-navigation-menu"></i></a>
		<a href="/" class="brand-logo" style="margin: 0 16px">OI</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down" style="position: absolute; right: 0px">
			<li><a href="/project">Create</a></li>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		<div class="container">
			<div class="input-field col s10">
				<input id="search" type="search" required>
				<label for="search"><i class="mdi-action-search"></i></label>
				<i class="mdi-navigation-close"></i>
			</div>
		</div>
	</div>
</nav>

<body>

{{end}}
