{{define "index_user"}}

	<div id="oi-recommended-projects">
		{{range call .RecommendedProjects 3}}
		<div class="background" style="background-image: url({{.ImageURL}})">
			<div class="ui page grid pt-full-height" style="background: rgba(0,0,0,0.4); margin: 0">
				<div class="column pt-full-height">
					<div class="pt-valign-wrapper">
						<div class="pt-valign">
							<h1 class="ui header">{{.Title}}</h3>
							<h3 class="ui header">{{.Tagline}}</h5>
							<a class="ui blue button" href="/project/{{.PostID}}" class="btn red">Find Out More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{end}}
	</div>

	<div id="oi-trending-projects" class="ui page vertical padded grid">
		<h3 class="ui header pt-text-center">Trending Projects</h3>
		<div class="ui centered grid">
			<div class="three column tablet computer only row">
			{{range call .RecommendedProjects 6}}
				{{template "project-card" .}}
			{{end}}
			</div>
			<div class="one column mobile only row">
			{{range call .RecommendedProjects 6}}
				{{template "project-card" .}}
			{{end}}
			</div>
		</div>
	</div>

	<div id="oi-active-projects" class="ui page vertical padded grid">
		<h3 class="ui header pt-text-center">Most Active Projects</h3>
		<div class="ui centered grid">
			<div class="three column tablet computer only row">
			{{range call .RecommendedProjects 6}}
				{{template "project-card" .}}
			{{end}}
			</div>
			<div class="one column mobile only row">
			{{range call .RecommendedProjects 6}}
				{{template "project-card" .}}
			{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}
