{{define "index_user"}}

	<div id="oi-recommended-projects">
		{{range call .RecommendedProjects 3}}
		<div class="background" style="background-image: url({{.ImageURL}})">
			<div class="valign-wrapper" style="background: rgba(0,0,0,0.4); margin: 0; height: 100%">
				<div class="container valign">
					<h3 class="white-text">{{.Title}}</h3>
					<h5 class="white-text">{{.Tagline}}</h5>
					<a href="/project/{{.PostID}}" class="btn red">Find Out More</a>
				</div>
			</div>
		</div>
		{{end}}
	</div>

	<div id="oi-trending-projects" class="row">
		<div class="container">
			<div class="row">
				<h3 class="center-align">Trending Projects</h3>
			</div>
			<div class="oi-projects row">
				{{range call .RecommendedProjects 6}}
					{{template "project-card" .}}
				{{end}}
			</div>
		</div>
	</div>

	<div id="oi-active-projects" class="row">
		<div class="container">
			<div class="row">
				<h3 class="center-align">Most Active Projects</h3>
			</div>
			<div class="oi-projects row">
				{{range call .RecommendedProjects 6}}
					{{template "project-card" .}}
				{{end}}
			</div>
		</div>
	</div>
</div>
{{end}}
