{{define "index_user"}}

	<div id="oi-recommended-projects">
		{{range call .RecommendedProjects 3}}
		<div class="background" style="background-image: url({{.ImageURL}})">
			<div class="ui page grid pt-full-height" style="background: rgba(0,0,0,0.4); margin: 0">
				<div class="column pt-full-height">
					<div class="pt-valign-wrapper">
						<div class="pt-valign">
							<h1 class="ui header">{{.Title}}</h3>
							<h3 class="ui header">{{.Tagline}}</h5>
							<a class="ui blue button" href="/project/{{.PostID}}" class="btn red">Find Out More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{end}}
	</div>

	<div id="oi-trending-projects" class="ui page vertical padded grid">
		<div class="column">
			<h3 class="ui header">Trending Projects</h3>
			<div class="ui three column grid">
			{{range call .RecommendedProjects 3}}
				<div class="column">
					<div class="ui fluid card">
						<a class="image" href="/project/{{.PostID}}">
							{{with .ImageURL}}
							<img src="{{.}}">
							{{else}}
							<img src="/img/dummies/project.png">
							{{end}}
						</a>
						<div class="content">
							<a class="header">{{.Title}}</a>
							<div class="meta">
								Project
							</div>
							<div class="description">
								{{.ShortContent 140}}
							</div>
						</div>
						<div class="extra content">
							<a href="/project/{{.PostID}}">View Project</a>
						</div>
					</div>
				</div>
			{{end}}
			</div>
		</div>
	</div>

	<div id="oi-active-projects" class="ui page vertical padded grid">
		<div class="column">
			<h3 class="ui header">Most Active Projects</h3>
			<div class="ui three column grid">
			{{range call .RecommendedProjects 3}}
				<div class="column">
					<div class="ui fluid card">
						<a class="image" href="/project/{{.PostID}}">
							{{with .ImageURL}}
							<img src="{{.}}">
							{{else}}
							<img src="/img/dummies/project.png">
							{{end}}
						</a>
						<div class="content">
							<a class="header">{{.Title}}</a>
							<div class="meta">
								Project
							</div>
							<div class="description">
								{{.ShortContent 140}}
							</div>
						</div>
						<div class="extra content">
							<a href="/project/{{.PostID}}">View Project</a>
						</div>
					</div>
				</div>
			{{end}}
			</div>
		</div>
	</div>
{{end}}
