{{define "modal-sign-up"}}
        <form class="modal" id="modal-sign-up" action="/signup" method="POST">
                <div class="modal-content">
                        <h4>Sign Up</h4>
			<div class="row">
				<div class="input-field col s12">
					<input id="sign-up-email" type="email" name="email">
					<label for="sign-up-email">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
                                        <input id="sign-up-password" type="password" name="password">
					<label for="sign-up-password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input id="sign-up-firstname" type="text" name="firstname">
					<label for="sign-up-firstname">First Name</label>
				</div>
				<div class="input-field col s6">
					<input id="sign-up-lastname" type="text" name="lastname">
					<label for="sign-up-lastname">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<select name="gender">
						<option value="" disabled selected>What's your gender?</option>
						<option value="female">Female</option>
						<option value="male">Male</option>
						<option value="other">Other</option>
					</select>
					<label>Gender</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<select name="nationality">
						<option value="" disabled selected>What's your nationality?</option>
						{{range $code, $name := .Countries}}
						<option value="{{$code}}">{{$name}} {{$code}}</option>
						{{end}}
					</select>
					<label>Nationality</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<select name="profession">
						<option value="" disabled selected>What's your profession?</option>
						{{range .Professions}}
						<option value="{{.}}">{{.}}</option>
						{{end}}
					</select>
					<label>Profession</label>
				</div>
			</div>
                </div>
                <div class="modal-footer">
			<div class="left">
				<a class="modal-action btn-flat white-text google" href="">Google</a>
				<a class="modal-action btn-flat white-text facebook" href="">Facebook</a>
			</div>
                        <button type="submit" class="modal-action btn-flat teal white-text">Sign Up</button>
                </div>
        </form>
{{end}}
