{{define "modal-sign-in"}}
        <form class="modal" id="modal-sign-in" action="/login" method="POST">
                <div class="modal-content">
                        <h4>Sign In</h4>
                        <div class="row">
                                <div class="input-field col s12">
                                        <input id="sign-in-email" type="email" name="email">
					<label id="sign-in-email">Email</label>
                                </div>
			</div>
                        <div class="row">
                                <div class="input-field col s12">
                                        <input id="sign-in-password" type="password" name="password">
					<label id="sign-in-password">Password</label>
                                </div>
                        </div>
                </div>
		<div class="modal-footer">
			<div class="left">
				<a class="modal-action btn-flat white-text google" href="">Google</a>
				<a class="modal-action btn-flat white-text facebook" href="">Facebook</a>
			</div>
			<button type="submit" class="modal-action btn-flat teal white-text">Sign In</button>
		</div>
        </form>
{{end}}
