{{define "project"}}
        {{template "header" .}}

	{{with .Project.ImageURL}}
	<div class="parallax-window" data-parallax="scroll" data-image-src="{{.}}">
	{{else}}
	<div class="parallax-window" data-parallax="scroll" data-image-src="/img/dummies/project.png">
	{{end}}
		<div class="valign-wrapper">
			<div class="valign"><h1 id="project-title">{{.Project.Title}}</h1></div>
		</div>
	</div>

	<div class="row">
		<div class="container">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s4"><a href="#info" class="active">Info</a></li>
					<li class="tab col s4"><a href="#tasks">Tasks</a></li>
					<li class="tab col s4"><a href="#comments">Comments</a></li>
				</ul>
			</div>
			{{template "project_tab_content_info" .}}

			{{if call $.IsMember .Project.PostID .User.ID}}
			{{template "project_tab_content_tasks" .}}
			{{end}}

			{{template "project_tab_content_comments" .}}
		</div>
	</div>

	<script>
		$(document).ready(function() {
			$("#project-title").empty().typed({
				strings: ["{{.Project.Title}}", "{{.Project.Tagline}}"],
				typeSpeed: 0,
				startDelay: 1000,
				backDelay: 5000,
				loop: true
			});
		});
	</script>

        {{template "footer" .}}
{{end}}
