{{define "project-edit"}}
        {{.Include `<script src="/js/script-project-edit.js"></script>`}}
        {{template "header" .}}

        <div class="ui vertical padded page grid">
                <div class="column">
                        <h3 class="ui header">Edit Project</h3>
			{{with .Project}}
                        <form id="form-project-edit" class="ui form" action="/project" method="POST" enctype="multipart/form-data">
                                <h4 class="ui dividing header">Project Image</h4>
                                <label class="field">
                                        <input class="pt-img-input" id="image-input" type="file" name="image">
					{{with .ImageURL}}
					<img class="pt-img-preview" id="image-preview" src="{{.}}" style="width: 100%">
					{{else}}
					<img class="pt-img-preview" id="image-preview" src="/img/dummies/project.png" style="width: 100%">
					{{end}}
                                </label>
                                <h4 class="ui dividing header">Project Information</h4>
                                <div class="required field">
                                        <label>Title</label>
                                        <input type="text" name="title" value="{{.Title}}">
                                </div>
                                <div class="required field">
                                        <label>Description</label>
                                        <textarea name="content">{{.Content}}</textarea>
                                </div>
                                <div class="field">
                                        <label>Tagline</label>
                                        <input type="text" name="tagline" value="{{.Tagline}}">
                                </div>
                                <div class="field">
                                        <label>Status</label>
                                        <input type="text" name="status" value="{{.Status}}">
                                </div>
                                <div class="field">
                                        <h4>Requirements</h4>
                                        <div class="four fields pt-text-center">
						{{range .Requirements}}
						<div class="field">
							<p>{{.Name}}</p>
							<input type="text" class="knob" name="profession {{.Name}}" value="{{.Count}}"
								data-width="150"
								data-thickness=".2"
								data-min="0" 
								data-max="10" >
						</div>
						{{end}}
                                        </div>
                                </div>
                                <div class="field">
                                        <h4>Timeline</h4>
                                        <div class="required field">
                                                <label>Start Date</label>
                                                <input id="start-date" name="startDate" class="datepicker" value="{{.StartDate.Format `02 January, 2006`}}">
                                        </div>
                                        <div class="required field">
                                                <label>End Date</label>
                                                <input id="end-date" name="endDate" class="datepicker" value="{{.EndDate.Format `02 January, 2006`}}">
                                        </div>
                                </div>
				<input type="hidden" name="id" value="{{.PostID}}">
				<input type="hidden" name="method" value="PUT">
                                <button type="submit" class="ui blue submit button">Submit</button>
				<a href="/project/{{.PostID}}" class="ui button">View</a>
                        </form>
			{{end}}
                </div>
        </div>

        {{template "sidebar" .}}
        {{template "footer" .}}
{{end}}
