{{define "project"}}
        {{.Include `<link href="/css/style-project.css" rel="stylesheet">`}}
        {{.Include `<script src="/js/script-project.js"></script>`}}
        {{template "header" .}}

	{{with .Project.ImageURL}}
	<div class="parallax-window pt-valign-wrapper" data-parallax="scroll" data-image-src="{{.}}">
	{{else}}
	<div class="parallax-window pt-valign-wrapper" data-parallax="scroll" data-image-src="/img/dummies/project.png">
	{{end}}
		<div class="pt-valign pt-text-center">
			<h1 class="ui header">{{.Project.Title}}</h1>
		</div>
	</div>

	<div class="ui vertical padded page grid">
		<div class="column">
			<div class="ui top attached tabular menu">
				<a class="active item" data-tab="info">Info</a>
				<a class="item" data-tab="comments">Comments</a>
			</div>
			{{template "project_tab_content_info" .}}
			{{template "project_tab_content_comments" .}}
		</div>
	</div>

        {{template "footer" .}}
{{end}}
