{{define "project_tab_content_comments"}}
	{{with .Project}}
	<div id="comments" class="col s6">
		<h3>Comments</h3>
		{{$comments := .Post.Comments}}
		{{with $comments}}
		<ul class="collection">
			{{range .}}
			<li class="collection-item avatar">
				<a href="/profile/{{.Author.ID}}"><img src="{{.Author.AvatarURL}}" class="circle responsive-img"></a>
				<span class="title"><a href="/profile/{{.Author.ID}}">{{.Author.Nicename}}</a></span>
				<p>{{.Text}}</p>
				<p class="secondary-content">{{nicetime .CreatedAt}}</p>
			</li>
			{{end}}
		</ul>
		{{else}}
		No comments!
		{{end}}
		<div class="row">
			<form class="col s12" action="/post/comment" method="POST">
				<div class="input-field">
					<textarea name="text"></textarea>
				</div>
				<input type="hidden" name="sourceID" value="{{.PostID}}">
				<button class="btn btn-flat teal white-text waves-effect waves-light">Add Reply</button>
			</form>
		</div>
	</div>
	{{end}}
{{end}}
