{{define "project_tab_content_info"}}
	{{with .Project}}
	<div id="info" class="col s12">
		<div class="col s9">
			<div class="row">
				<h3>{{.Title}}</h3>
				<h5>{{.Tagline}}</h5>
				<p>{{$.HTML .Content}}</p>
			</div>
			<div class="row">
				<h4>Requirements</h4>
				{{$applied := .AppliedBy $.User.ID}}
				{{$joined := .JoinedBy $.User.ID}}
				{{range .Requirements}}
				<div class="col s3 center-align">
					<p>{{.Name}}</p>
					<input type="text" class="knob" value="{{$.Project.FilledRequirement .Name}}"
						data-width="150"
						{{if eq ($.Project.RequirementProgress .Name) 100}}
						data-fgColor="#33bb33"
						{{else if gt ($.Project.RequirementProgress .Name) 66}}
						data-fgColor="#dddd33"
						{{else if gt ($.Project.RequirementProgress .Name) 33}}
						data-fgColor="#dd3333"
						{{else}}
						data-fgColor="#333333"
						{{end}}
						data-thickness=".2"
						data-min="0"
						data-max="{{$.Project.NeededRequirement .Name}}"
						data-readOnly="true" >
				</div>
				{{end}}
			</div>
			<div class="row">
				<h4>Members</h4>
				<ul class="collection">
				{{range .Members}}
					<li class="collection-item avatar">
						<a href="/profile/{{.User.ID}}"><img class="circle" src="{{.User.AvatarURL}}"></a>
						<span class="title">{{.User.Nicename}}</span>
						<p>{{.User.ShortDescription 140}}...</p>
					</li>
				{{end}}
				</ul>
			</div>
		</div>
		<div class="col s3">
			<div class="row">
				<div class="label">
					Start Date
				</div>
				<div class="value">
					<h3 class="ui header">{{.StartDate.Format "02, Jan 2006"}}</h3>
				</div>
			</div>
			<div class="row">
				<div class="label">
					End Date
				</div>
				<div class="value">
					<h3 class="ui header">{{.EndDate.Format "02, Jan 2006"}}</h3>
				</div>
			</div>
			<div class="row">
				<div class="label">
					DaysLeft
				</div>
				<div class="value">
				{{if .Ended}}
					<h3 class="ui header">Ended</h3>
				{{else if .Started}}
					{{.DaysLeft}}
				{{else}}
					<h3 class="ui header">Not Yet Started</h3>
				{{end}}
				</div>
			</div>
			<div class="row">
				<div class="label">
					Supports
				</div>
				<div class="value">
					<h3 class="ui header">{{.Supports}}</h3>
				</div>
			</div>
		</div>
	</div>
	{{end}}
{{end}}
