{{define "project_tab_content_tasks"}}

	{{template "modal-task-create" .}}
	{{template "modal-task-edit" .}}

	{{with .Project}}
	{{$tasks := .Tasks}}
	<div id="tasks" class="col s12">
		<h3>Tasks</h3>
		<div class="col s9">
			<ul class="collection">
				{{range $tasks}}
				<a class="modal-trigger task-edit-trigger" href="#modal-task-edit" data-taskID="{{.ID}}">
					<li class="collection-item">
						{{.Title}}<small class="right">by {{.User.Nicename}}</small>
					</li>
				</a>
				{{end}}
				<a class="modal-trigger white-text center-align" href="#modal-task-create">
					<li class="collection-item teal">
						<strong style="font-size: 2rem">+</strong>
					</li>
				</a>
			</ul>
		</div>
		<div class="col s3 center-align">
			<div class="row">
				<p>Total</p>
				<input type="text" class="knob" value="{{len $tasks}}"
					data-width="150"
					data-fgColor="#333333"
					data-thickness=".2"
					data-max="{{len $tasks}}"
					data-readOnly="true" >
			</div>
			<div class="row">
				<p>Done</p>
				<input type="text" class="knob" value="{{len .DoneTasks}}"
					data-width="150"
					data-fgColor="#333333"
					data-thickness=".2"
					data-max="{{len $tasks}}"
					data-readOnly="true" >
			</div>
		</div>
	</div>
	{{end}}
{{end}}
