{{define "pt-head"}}

<script>
var EmailLength = {{.EmailLength}};
var PasswordLength = {{.PasswordLength}};
</script>

<!-- CSS -->
<link href="/css/semantic.min.css" rel="stylesheet" />
<link href="/css/owl-carousel/owl.carousel.css" rel="stylesheet" />
<link href="/css/owl-carousel/owl.theme.css" rel="stylesheet" />
<link href="/css/owl-carousel/owl.transitions.css" rel="stylesheet" />
<link href="/lib/timeline/css/timeline.css" rel="stylesheet" />
<link href="/css/classic.css" rel="stylesheet" />
<link href="/css/classic.date.css" rel="stylesheet" />
<link href="/css/classic.time.css" rel="stylesheet" />
<link href="/css/typed-blinking-cursor.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />

<!-- JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.jeditable.min.js"></script>
<script src="/js/jquery.knob.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/parallax.min.js"></script>
<script src="/lib/timeline/js/storyjs-embed.js"></script>
<script src="/lib/timeline/js/timeline-min.js"></script>
<script src="/js/typed.min.js"></script>
<script src="/js/semantic.min.js"></script>
<script src="/js/filedrop.min.js"></script>
<script src="/js/picker.js"></script>
<script src="/js/picker.date.js"></script>
<script src="/js/picker.time.js"></script>
<script src="/js/script.js"></script>

<!-- Google Sign-In -->
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
	function start() {
		gapi.load("auth2", function() {
			auth2 = gapi.auth2.init({
				client_id: "400181550602-eim1qpiu9d1calf4hc0jfgk3koihich3.apps.googleusercontent.com",
				// Scopes to request in addition to 'profile' and 'email'
				//scope: 'additional_scope'
			});
		});
	}
</script>

<!-- Facebook -->
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId : "1056147024397859",
			xfbml : true,
			version : "v2.3"
		});
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, "script", "facebook-jssdk"));
</script>

{{end}}
