{{define "pt-head"}}

<script>
var APIVersion = {{.APIVersion}};
var EmailLength = {{.EmailLength}};
var PasswordLength = {{.PasswordLength}};
</script>

<!-- CSS -->
<link href="css/semantic.min.css" rel="stylesheet" />
<link href="css/slick.css" rel="stylesheet" />
<link href="css/slick-theme.css" rel="stylesheet" />
<link href="css/classic.css" rel="stylesheet" />
<link href="css/classic.date.css" rel="stylesheet" />
<link href="css/classic.time.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />

<!-- JS -->
<script src="js/jquery.min.js"></script>
<script src="js/semantic.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/filedrop.js"></script>
<script src="js/picker.js"></script>
<script src="js/picker.date.js"></script>
<script src="js/picker.time.js"></script>
<script src="js/script.js"></script>

{{end}}
